<% @title = "stats" %>
<% @subtitle = "since 2009" %>

<div class="statistics clearfix">
  <div class="border">
    <span><%= number_with_delimiter @number_of_gems %></span> gems
    <img src="/sparks/recent_gems_created.png" width="179" height="16" alt="" />
  </div>

  <div class="border">
    <span><%= number_with_delimiter @number_of_downloads %></span> downloads
    <img src="/sparks/recent_downloads_created.png" width="179" height="16" alt="" />
  </div>

  <div class="border">
    <span><%= number_with_delimiter @number_of_users %></span> users
    <img src="/sparks/recent_users_created.png" width="179" height="16" alt="" />
  </div>

  <div class="border chart">
    <%= most_downloaded_chart(@most_downloaded) %>
  </div>
</div>
